.about {
  padding: 120px 0 278px;

  &__title {
    margin-bottom: 32px;
    font-size: 52px;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    &::before {
      content: "";
      display: block;
      flex-basis: 50%;
      height: 496px;
      background-image: url("/assets/img/cat.png");
      background-repeat: no-repeat;
      background-size: contain;
      transform: translateY(-18px);
    }
  }

  &__content {
    padding: 10px 24px;
    flex-basis: 50%;
  }

  // .about__text

  &__text {
    margin-bottom: 16px;
    &:last-child() {
      margin-bottom: 0;
    }
  }
}
