@use "../_variables" as *;

.footer {
  padding: 80px 0 32px;
  background-color: $green;
  background-image: url("/assets/img/paw.svg");
  background-repeat: no-repeat;
  background-position: 41vw 50px;
  color: $light;

  &__container {
    display: grid;
    grid-template-areas:
      "logo contacts"
      "info contacts";
  }

  &__logo {
    grid-area: logo;
    width: 332px;
  }

  &__info {
    grid-area: info;
  }

  &__copyright {
    margin-bottom: 16px;
    font-size: 16px;
  }

  // .footer__text

  &__text {
    margin-bottom: 3px;
    font-size: 16px;
  }

  &__item {
    margin-bottom: 3px;
    font-size: 16px;

    &:last-child() {
      margin-bottom: 0;
    }
  }

  &__contacts {
    grid-area: contacts;
    justify-self: end;
    font-style: normal;
  }

  // .footer__email

  &__email {
    display: inline-block;
    margin-bottom: 16px;
  }

  &__social-list {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
