@use "../_variables" as *;
@use "../_media" as *;

.subscribe {
  padding: 120px 0;

  @include laptop {
    padding: 100px 0;
  }

  @include mobile {
    padding: 80px 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    max-width: 1000px;
    margin-bottom: 50px;
    font-size: 52px;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;

    @include laptop {
      margin-bottom: 32px;
      font-size: 44px;
    }

    @include laptop {
      font-size: 30px;
    }
  }

  &__field {
    position: relative;
    margin: 0;
    padding: 0;
    max-width: 732px;
    width: 100%;
    border: none;
  }

  &__input {
    padding: 14px 30px;
    width: 100%;
    font-weight: 400;
    font-size: inherit;
    line-height: 1.4;
    background-color: transparent;
    border: 2px solid $purple;
    border-radius: 40px;
    &::placeholder {
      color: $green;
      opacity: 0.4;
    }
  }

  &__button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 16px 31px;
    min-width: 209px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 40px;
    color: $light;
    font-weight: 700;
    line-height: 1.4;
    color: $light;
    background-color: $purple;
    border: 1px solid transparent;

    @include mobile {
      padding: 0;
      min-width: 54px;
    }

    &::after {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background-image: url("/assets/img/arrow-up.svg");
    }
  }
  &__button-text {
    @include mobile {
      position: fixed;
      scale: 0;
    }
  }
}
